* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 10px; }

body {
  padding: 40px; }

a {
  text-decoration: none;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 1.8em; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto; }

.main_block_intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(238, 241, 240, 0.8)), to(rgba(0, 115, 154, 0.7)));
  background: -webkit-linear-gradient(top, rgba(238, 241, 240, 0.8), rgba(0, 115, 154, 0.7));
  background: -o-linear-gradient(top, rgba(238, 241, 240, 0.8), rgba(0, 115, 154, 0.7));
  background: linear-gradient(to bottom, rgba(238, 241, 240, 0.8), rgba(0, 115, 154, 0.7)); }
  .main_block_intro .block_contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    padding: 20px; }
    .main_block_intro .block_contact ul {
      list-style: none; }
      .main_block_intro .block_contact ul i:nth-child(2) {
        margin-right: 15px; }
    .main_block_intro .block_contact li {
      width: 100%; }
      .main_block_intro .block_contact li:nth-of-type(2) {
        padding-left: 5px;
        padding-top: 5px; }
      .main_block_intro .block_contact li i {
        font-size: 2em;
        margin-right: 15px; }
      .main_block_intro .block_contact li a {
        color: #000;
        text-transform: lowercase;
        opacity: 0.7;
        -webkit-transition: text-shadow 0.2s ease-in-out;
        -o-transition: text-shadow 0.2s ease-in-out;
        transition: text-shadow 0.2s ease-in-out; }
        .main_block_intro .block_contact li a:hover {
          cursor: pointer;
          opacity: 1;
          color: #fff;
          -webkit-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
          text-shadow: 1px 1px 8px #000; }

.block_photo {
  width: 320px; }
  .block_photo img {
    max-width: 70%; }

.block_intro {
  font-family: sans-serif;
  max-width: 100%;
  padding: 10% 1% 1% 10%;
  text-transform: uppercase; }
  .block_intro h1 {
    font-size: 3em;
    color: #fff;
    letter-spacing: 4px;
    padding-bottom: 20px;
    font-weight: 500;
    text-shadow: 7px 7px 3px #000;
    position: relative; }
    .block_intro h1::after {
      content: "";
      display: block;
      position: absolute;
      top: 80%;
      width: 99%;
      height: 2px;
      background: #fff; }
  .block_intro p {
    letter-spacing: 2px;
    font-size: 2em;
    color: #fff;
    text-shadow: 4px 4px 3.5px #615f5f; }

.main_block_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px; }

h2 {
  font-size: 2em;
  font-family: sans-serif;
  text-transform: uppercase;
  color: #9c9b9b;
  text-align: center;
  padding: 20px 0 20px 0;
  position: relative;
  text-decoration: underline; }

.project-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }
  .project-title .active {
    color: #1b1a1a; }
  .project-title h2:hover {
    cursor: pointer; }

.project {
  width: 70%;
  text-align: center; }
  .project .slider_body button {
    margin: 2% 15px;
    padding: 5px 20px;
    border-radius: 3px;
    border: 2px solid #000;
    outline: none;
    background: transparent;
    -webkit-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s; }
    .project .slider_body button:hover {
      cursor: pointer;
      border-radius: 3px;
      border: 2px solid #000;
      -webkit-transition: all ease-in-out 0.1s;
      -o-transition: all ease-in-out 0.1s;
      transition: all ease-in-out 0.1s; }
    .project .slider_body button:active {
      background: #00739a;
      color: #fff; }
  .project .slider_body .btn_prev:active {
    -webkit-transform: translate(-15px);
    -ms-transform: translate(-15px);
    transform: translate(-15px); }
  .project .slider_body .btn_next:active {
    -webkit-transform: translate(15px);
    -ms-transform: translate(15px);
    transform: translate(15px); }
  .project .slider_body .slider_items {
    overflow: hidden;
    max-width: 100%;
    margin: 5% auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding: 100px 0; }
    .project .slider_body .slider_items a {
      width: 100%;
      position: absolute;
      display: block;
      padding: 100px 0px;
      -webkit-box-shadow: 1px 1px 15px inset grey;
      box-shadow: 1px 1px 15px inset grey; }
      .project .slider_body .slider_items a:hover {
        color: red;
        cursor: pointer; }
      .project .slider_body .slider_items a:nth-of-type(6) {
        background: url(../picBg/uasaBg.png) center/cover no-repeat; }
      .project .slider_body .slider_items a:nth-of-type(5) {
        background: url(../picBg/office.jpg) center/cover no-repeat; }
      .project .slider_body .slider_items a:nth-of-type(4) {
        background: url(../picBg/starhnight.png) center/cover no-repeat; }
      .project .slider_body .slider_items a:nth-of-type(3) {
        background: url(../picBg/startup.jpg) center/cover no-repeat; }
      .project .slider_body .slider_items a:nth-of-type(2) {
        background: url(../picBg/travler.jpg) center/cover no-repeat; }
      .project .slider_body .slider_items a:nth-of-type(1) {
        background: url(../picBg/inktatoo.png) center/cover no-repeat; }

.about {
  width: 30%;
  padding: 0 1%; }
  .about section {
    margin: 5%; }
  .about section h4 {
    width: 60px;
    border: 5px double #fff;
    border-radius: 3px 15px 3px 15px;
    background: grey;
    color: #fff;
    text-align: center;
    padding: 10px 0px; }
    .about section h4:hover {
      color: rgba(111, 219, 255, 0.863);
      cursor: pointer; }
  .about section h4 i {
    font-size: 3em;
    margin-bottom: 1%; }
  .about ul {
    list-style: none;
    margin-top: 30px; }
  .about li {
    font-size: 1.6em;
    font-family: sans-serif;
    padding-left: 3%;
    padding-top: 2px; }

.small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.main_block_footer {
  margin: -40px auto;
  padding: 20px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(238, 241, 240, 0.8)), to(rgba(0, 115, 154, 0.7)));
  background: -webkit-linear-gradient(bottom, rgba(238, 241, 240, 0.8), rgba(0, 115, 154, 0.7));
  background: -o-linear-gradient(bottom, rgba(238, 241, 240, 0.8), rgba(0, 115, 154, 0.7));
  background: linear-gradient(to top, rgba(238, 241, 240, 0.8), rgba(0, 115, 154, 0.7));
  text-align: center; }
  .main_block_footer h3 {
    font-size: 2em;
    font-family: "Comfortaa", cursive;
    padding-top: 3%;
    font-weight: bold; }

.block_contact ul {
  list-style: none; }

.block_contact i {
  padding: 10px 5px 10px 0;
  font-size: 1.8em; }

.block_contact a {
  text-transform: inherit;
  color: #fff;
  font-size: 1.8em; }

@media (max-width: 768px) {
  body {
    padding: 0; }
  .block_intro {
    padding-top: 100px;
    padding-left: 40%;
    text-align: right;
    position: absolute; }
  .block_photo {
    min-width: 320px; }
  .block_photo img {
    width: 100%; }
  .main_block_about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .projects {
    width: 100%; }
  .about {
    width: 100%; }
  .small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%; }
    .small section {
      width: 25%;
      padding-bottom: 20px;
      -ms-flex-line-pack: distribute;
      align-content: space-around; }
      .small section li {
        font-size: 1.4em; } }

.green {
  color: #0bee3c; }

.move-btn {
  -webkit-transform: translateX(5px);
  -ms-transform: translateX(5px);
  transform: translateX(5px); }

.skills-item {
  display: block;
  width: 70%;
  margin: 0 auto; }

.hideSkill {
  opacity: 0;
  -webkit-transition: "1s";
  -o-transition: "1s";
  transition: "1s";
  display: none; }

.activeSkill {
  min-width: 100%;
  opacity: 1;
  -webkit-transition: "1s";
  -o-transition: "1s";
  transition: "1s"; }

section {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.main-item {
  min-width: 100%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  align-content: center; }

.main-item .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }

.out {
  margin-top: 2%;
  text-align: center;
  min-height: 150px; }

.out li {
  font-family: "Comfortaa", sans-serif; }
