$colorP: #9c9b9b;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  padding: 40px;
}

a {
  text-decoration: none;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 1.8em;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.main_block_intro {
  display: flex;
  background: linear-gradient(
    to bottom,
    rgba(238, 241, 240, 0.8),
    rgba(0, 115, 154, 0.7)
  );
  .block_contact {
    display: flex;
    justify-items: center;
    padding: 20px;

    ul {
      list-style: none;
      i:nth-child(2) {
        margin-right: 15px;
      }
    }

    li {
      width: 100%;
      &:nth-of-type(2) {
        padding-left: 5px;
        padding-top: 5px;
      }
      i {
        font-size: 2em;
        margin-right: 15px;
      }

      a {
        color: #000;
        text-transform: lowercase;
        opacity: 0.7;
        transition: text-shadow 0.2s ease-in-out;

        &:hover {
          cursor: pointer;
          opacity: 1;
          color: #fff;
          transition: all 0.2s ease-in-out;
          text-shadow: 1px 1px 8px #000;
        }
      }
    }
  }
}

.block_photo {
  width: 320px;
  img {
    max-width: 70%;
  }
}

.block_intro {
  font-family: sans-serif;
  max-width: 100%;
  padding: 10% 1% 1% 10%;
  text-transform: uppercase;

  h1 {
    font-size: 3em;
    color: #fff;
    letter-spacing: 4px;
    padding-bottom: 20px;
    font-weight: 500;
    text-shadow: 7px 7px 3px #000;
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 80%;
      width: 99%;
      height: 2px;
      background: #fff;
    }
  }

  p {
    letter-spacing: 2px;
    font-size: 2em;
    color: #fff;
    text-shadow: 4px 4px 3.5px rgb(97, 95, 95);
  }
}

.main_block_about {
  display: flex;
  margin-bottom: 40px;
}

h2 {
  font-size: 2em;
  font-family: sans-serif;
  text-transform: uppercase;
  color: $colorP;
  text-align: center;
  padding: 20px 0 20px 0;
  position: relative;
  text-decoration: underline;
}

.project-title {
  display: flex;
  justify-content: space-evenly;
  .active {
    color: rgb(27, 26, 26);
  }
  h2:hover {
    cursor: pointer;
  }
}

.project {
  width: 70%;
  text-align: center;
  .slider_body {
    button {
      margin: 2% 15px;
      padding: 5px 20px;
      border-radius: 3px;
      border: 2px solid #000;
      outline: none;
      background: transparent;
      transition: background 0.3s;
      &:hover {
        cursor: pointer;
        border-radius: 3px;
        border: 2px solid #000;
        transition: all ease-in-out 0.1s;
      }
      &:active {
        background: rgba(0, 115, 154, 1);
        color: #fff;
      }
    }
    .btn_prev:active {
      transform: translate(-15px);
    }
    .btn_next:active {
      transform: translate(15px);
    }
    .slider_items {
      overflow: hidden;
      max-width: 100%;
      margin: 5% auto;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 100px 0;

      a {
        width: 100%;
        position: absolute;
        display: block;
        padding: 100px 0px;
        box-shadow: 1px 1px 15px inset grey;

        &:hover {
          color: red;
          cursor: pointer;
        }

        &:nth-of-type(6) {
          background: url(../picBg/uasaBg.png) center / cover no-repeat;
        }
        &:nth-of-type(5) {
          background: url(../picBg/office.jpg) center / cover no-repeat;
        }
        &:nth-of-type(4) {
          background: url(../picBg/starhnight.png) center / cover no-repeat;
        }
        &:nth-of-type(3) {
          background: url(../picBg/startup.jpg) center / cover no-repeat;
        }
        &:nth-of-type(2) {
          background: url(../picBg/travler.jpg) center / cover no-repeat;
        }
        &:nth-of-type(1) {
          background: url(../picBg/inktatoo.png) center / cover no-repeat;
        }
      }
    }
  }
}

.about {
  width: 30%;
  padding: 0 1%;
  section {
    margin: 5%;
  }
  section h4 {
    width: 60px;
    border: 5px double #fff;
    border-radius: 3px 15px 3px 15px;
    background: grey;
    color: #fff;
    text-align: center;
    padding: 10px 0px;
    &:hover {
      color: rgba(111, 219, 255, 0.863);
      cursor: pointer;
    }
  }
  section h4 i {
    font-size: 3em;
    margin-bottom: 1%;
  }
  ul {
    list-style: none;
    margin-top: 30px;
  }
  li {
    font-size: 1.6em;
    font-family: sans-serif;
    padding-left: 3%;
    padding-top: 2px;
  }
}

.small {
  display: flex;
  width: 100%;
}

.main_block_footer {
  margin: -40px auto;
  padding: 20px;
  background: linear-gradient(
    to top,
    rgba(238, 241, 240, 0.8),
    rgba(0, 115, 154, 0.7)
  );
  text-align: center;
  h3 {
    font-size: 2em;
    font-family: "Comfortaa", cursive;
    padding-top: 3%;
    font-weight: bold;
  }
}

.block_contact {
  ul {
    list-style: none;
  }
  i {
    padding: 10px 5px 10px 0;
    font-size: 1.8em;
  }
  a {
    text-transform: inherit;
    color: #fff;
    font-size: 1.8em;
  }
}

@media (max-width: 768px) {
  body {
    padding: 0;
  }

  .block_intro {
    padding-top: 100px;
    padding-left: 40%;
    text-align: right;
    position: absolute;
  }

  .block_photo {
    min-width: 320px;
  }
  .block_photo img {
    width: 100%;
  }

  .main_block_about {
    flex-direction: column;
    align-items: center;
  }
  .projects {
    width: 100%;
  }

  .about {
    width: 100%;
  }
  .small {
    display: flex;
    width: 90%;

    section {
      width: 25%;
      padding-bottom: 20px;
      align-content: space-around;
      li {
        font-size: 1.4em;
      }
    }
  }
}
// for JS
.green {
  color: rgb(11, 238, 60);
}

.move-btn {
  transform: translateX(5px);
}

.skills-item {
  display: block;
  width: 70%;
  margin: 0 auto;
}

.hideSkill {
  opacity: 0;
  transition: "1s";
  display: none;
}

.activeSkill {
  min-width: 100%;
  opacity: 1;
  transition: "1s";
}

section {
  min-width: 100%;
  display: flex;
}

.main-item {
  min-width: 100%;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.main-item .title {
  display: flex;
  justify-content: space-evenly;
}

.out {
  margin-top: 2%;
  text-align: center;
  min-height: 150px;
}

.out li {
  font-family: "Comfortaa", sans-serif;
}
